.error {
    color: red;

    /*position:absolute;*/
}

.hidden {
    display: none;
}
div.select{
    border:1px solid #000
}
div.option{
    position: absolute;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    display: none;

}
div.option ul {
    padding-inline-start: 0px;
    background-color: white;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
div.option li{
    width:152px;
    list-style-type: none;
    padding-right:20px;

}
div.option li:hover{
    background-color: grey;
}
span {
    vertical-align: middle;
}
span.select {
    display:-moz-inline-box;
    display:inline-block;
    width:150px;
    height: 21px;
}
span.selIcon{
    /*background-image: url("../../icons/select.png");*/
    background-size:21px 21px;
    display:-moz-inline-box;
    display:inline-block;
    width:21px;
    height: 21px;
}

.form-date table,.form-date th,.form-date td{
    border: 1px solid blue;
}

.form-date .sel div {
    float: left;
}
.form-date .form-date-sel-table{
    position:absolute;
    /*display: none;*/
}


