@import "../../node_modules/bootstrap/scss/bootstrap";

// Default variable overrides
//$body-bg: $teal-300;
$body-color: $pink-500;
$primary: $pink-400;
$danger: #ff4136;
$table-border-color: #000000;
$background: #ffffff;
$theme-colors: (
        "primary": $primary,
        "danger": $danger
);
@import "../../node_modules/bootstrap/scss/mixins/buttons";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/utilities";

.table-allbordered {
  border: black solid 1px;
}

.bg-primary {
  background-color: $primary !important;
}

.btn-primary{
  color: #ffffff;
}
.menu {
  background-color: $body-color;
  height: 100%;
  width: 150px;
}

.tree ul{
  padding-left: 0;
}
.tree li {
  list-style: none;
  color: #ffffff;
}

.tree p[aria-expanded="true"]::before{
  /* width: 1.25em; */
  /* line-height: 0; */
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'  width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round'  stroke-linejoin='round' stroke-width='2' d='m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z'/%3e%3c/svg%3e");
  /* transition: transform .35s ease; */
  transform-origin: .5em 50%;
  align-content: flex-start;
}
.tree p[aria-expanded="false"]::before{
  /* width: 1.25em; */
  /* line-height: 0; */
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z M11 11.5a.5.5 0 0 1 .5-.5h4a.5.5 0 1 1 0 1h-4a.5.5 0 0 1-.5-.5z'/%3e%3c/svg%3e");
  /* transition: transform .35s ease; */
  transform-origin: .5em 50%;
  align-content: flex-start;
}

.flex {
  display: flex;
}

.tree {
  background-color: $primary;
  clear:left;
  height: 100%;
}

@for $i from 1 through 10 {
  .ul-#{$i}{
    padding-left: $i*10+1px !important;
  }
}

.selected {
  background-color: $pink-100;
}